@import 'assets/styles/variables';
@import 'assets/styles/animations';
@import 'assets/styles/mixins';
@import 'assets/styles/tables';

body {
  margin: 0;
  padding: 0;
  background-color: $color-bg-page;
  color: $color-text-main;
}

